In [5]:
import pandas as pd
# import mysqldb
import datetime

df = pd.read_csv('mbta.csv', low_memory=False)

In [6]:
df.tail(10)

,Unnamed: 0,record_num,id,latitude,longitude,bearing,current_status,current_stop_sequence,direction_id,label,occupancy_status,speed,updated_at
111861,111861,111862,y0685,-71.083739,42.329873,135,IN_TRANSIT_TO,1.0,1,0685,NaN,NaN,2022-09-27 00:31:25
111862,111862,111863,y1886,-71.076895,42.336329,312,IN_TRANSIT_TO,8.0,0,1886,MANY_SEATS_AVAILABLE,NaN,2022-09-27 00:32:35
111863,111863,111864,y1882,-71.085280,42.343120,135,IN_TRANSIT_TO,14.0,1,1882,FEW_SEATS_AVAILABLE,NaN,2022-09-27 00:31:58
111864,111864,111865,y1869,-71.100116,42.363253,123,IN_TRANSIT_TO,8.0,1,1869,MANY_SEATS_AVAILABLE,NaN,2022-09-27 00:32:33
111865,111865,111866,y1845,-71.117337,42.364199,272,IN_TRANSIT_TO,NaN,0,1845,MANY_SEATS_AVAILABLE,NaN,2022-09-27 00:32:34
111866,111866,111867,y1816,-71.096423,42.361137,309,IN_TRANSIT_TO,16.0,0,1816,FEW_SEATS_AVAILABLE,NaN,2022-09-27 00:32:36
111867,111867,111868,y1795,-71.083258,42.341752,313,IN_TRANSIT_TO,10.0,0,1795,MANY_SEATS_AVAILABLE,NaN,2022-09-27 00:32:33
111868,111868,111869,y0750,-71.085688,42.345681,55,IN_TRANSIT_TO,13.0,1,0750,MANY_SEATS_AVAILABLE,NaN,2022-09-27 00:32:34
111869,111869,111870,y0711,-71.114497,42.370566,122,IN_TRANSIT_TO,3.0,1,0711,NaN,NaN,2022-09-27 00:32:35
111870,111870,111871,y0685,-71.083739,42.329873,135,IN_TRANSIT_TO,1.0,1,0685,NaN,NaN,2022-09-27 00:31:25

In [ ]:
df.replace()

mbtaDictList = []
mbtaDict = {}
for ind, row in df.iterrows():
    mbtaDict['id'] = row.iloc[2]
    mbtaDict['latitude'] = float(row.iloc[3]) 
    mbtaDict['longitude'] = float(row.iloc[4]) 
    mbtaDict['bearing'] = int(row.iloc[5]) 
    mbtaDict['current_status'] = row.iloc[6]
    mbtaDict['current_stop_sequence'] = int(row.iloc[7])
    mbtaDict['direction_id'] = int(row.iloc[8])
    mbtaDict['label'] = row.iloc[9],
    mbtaDict['occupancy_status'] = row.iloc[10]
    mbtaDict['speed'] = row.iloc[11] 
    mbtaDict['updated_at'] = row.iloc[12]